<h4>17 Total Stores</h4>

<% if @stores.count > 0 %>
<ul>
  <%= @stores.each_with_index do |store, x| %>
  <li>
    <div class="store" id=<%= "store-#{x}" %>>
    <ul>
      <li><div class='long-name'><%= link_to store[:longName], best_buy_show_path(store_id: store[:storeId]) %></div></li>
      <li><div class='distance'><%= store[:distance] %></div></li>
      <li><div class='phone-number'><%= store[:phone] %></div></li>
      <li><div class='store-type'><%= store[:storeType] %></div></li>
    </ul>
  </div>
  </li>
  <% end %>

</ul>
<% end %>
